extends layout

block content
  include instructions.html
  h2= message
  if groupedData != undefined && groupedData != null
    form(action='/move')
      h2= 'Available Positions are: '
      select
        each position, i in groupedData
          option(value=i) #{position}
      div
      h2=" "
      label= 'Enter the Position you want the piece to go: '
      input(type="text", name = "position" placeholder="Enter Position (Ex: 2c)")
      div
      h2=" "
      input(type='submit',value='Move piece')
      h2= selmessage
